body {
  background-color: #E9E9E9;
  font-size: 1.8em; }

.btn-start, .btn-order, .btn-submit, .btn-delete {
  display: inline-block;
  margin: 1rem;
  padding: 0.938em 1.875em;
  border: 0.094em solid;
  border-radius: .625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1em sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  transition: .3s;
  cursor: pointer; }

.btn-start {
  border-color: #1672a3;
  background-color: #3ba9e4; }
  .btn-start:hover {
    background-color: #209de0;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5; }
  .btn-start:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #105276, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3; }

.btn-order {
  border-color: #446927;
  background-color: #75b343; }
  .btn-order:hover {
    background-color: #669d3b;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46; }
  .btn-order:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #2c4419, inset 0 0.063em #446927, inset 0 -0.188em #446927; }

.btn-submit {
  border-color: #b72e5b;
  background-color: palevioletred; }
  .btn-submit:hover {
    background-color: #d55881;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #dd7899; }
  .btn-submit:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #8e2447, inset 0 0.063em #b72e5b, inset 0 -0.188em #b72e5b; }

.btn-delete {
  border-color: #7f0b22;
  background-color: crimson; }
  .btn-delete:hover {
    background-color: #c01134;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #e5153f; }
  .btn-delete:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #500716, inset 0 0.063em #7f0b22, inset 0 -0.188em #7f0b22; }
