body {
  background-color: #E9E9E9;
  font-size: 1.8em;
}

.theme-a, .theme-b, .theme-c, .theme-d {
  display: inline-block;
  margin: 1rem;
  padding: 0.938em 1.875em;
  border: 0.094em solid;
  border-radius: .625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1em sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  transition: .3s;
  cursor: pointer;
}

.theme-a {
  border-color: #673693;
  background-color: #9a68c7;
}
.theme-a:hover {
  background-color: #8b52bf;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #9f6fca;
}
.theme-a:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #331b48, inset 0 0.063em #673693, inset 0 -0.188em #673693;
}

.theme-b {
  border-color: #1672a3;
  background-color: #3ba9e4;
}
.theme-b:hover {
  background-color: #209de0;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5;
}
.theme-b:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0a3349, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3;
}

.theme-c {
  border-color: #446927;
  background-color: #75b343;
}
.theme-c:hover {
  background-color: #669d3b;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46;
}
.theme-c:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #141f0b, inset 0 0.063em #446927, inset 0 -0.188em #446927;
}

.theme-d {
  border-color: #b72e5b;
  background-color: palevioletred;
}
.theme-d:hover {
  background-color: #d55881;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #dd7899;
}
.theme-d:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #651a32, inset 0 0.063em #b72e5b, inset 0 -0.188em #b72e5b;
}
